* text=auto
* text eol=lf

.gitattributes export-ignore
.editorconfig export-ignore
/screenshots export-ignore
/README.md export-ignore
/LICENSE export-ignore
/collapsequote_version.json export-ignore
