{% include 'overall_header.html' %}
{% set switch_type = TOGGLECTRL_TYPE ?? 'toggle' %}
<h1>{{ lang('COLLAPSEQUOTE_TITLE') }}</h1>

<p>{{ lang('COLLAPSEQUOTE_TITLE_EXPLAIN') }}</p>

<form id="acp_board" method="post" action="{U_ACTION}">

	<fieldset>
		<legend>{{ lang('COLLAPSEQUOTE_SETTINGS_USER') }}</legend>
		<dl>
			<dt><label for="imcger_collapsequote_aktive">{{ lang('COLLAPSEQUOTE_ACTIVE') ~ lang('COLON') }}</label><br><span>{{ lang('COLLAPSEQUOTE_ACTIVE_DESC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_collapsequote_aktive', IMCGER_COLLAPSEQUOTE_AKTIVE, switch_type) }}
			</dd>
		</dl>
		<dl>
			<dt><label for="imcger_collapsequote_visible_lines">{{ lang('COLLAPSEQUOTE_VISIBLE_LINES') }} {{ lang('COLON') }}</label><br><span>{{ lang('COLLAPSEQUOTE_VISIBLE_LINES_DESC') }}</span></dt>
			<dd>
				<input name="imcger_collapsequote_visible_lines" value='{{ IMCGER_COLLAPSEQUOTE_VISIBLE_LINES }}' type="number" min="2" max="999" size="4" >
			</dd>
		</dl>
		<dl>
			<dt><label for="imcger_collapsequote_text_top">{{ lang('COLLAPSEQUOTE_TEXT_TOP') ~ lang('COLON') }}</label><br><span>{{ lang('COLLAPSEQUOTE_TEXT_TOP_DESC_ACP') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_collapsequote_text_top', IMCGER_COLLAPSEQUOTE_TEXT_TOP, switch_type) }}
			</dd>
		</dl>
		<hr>
		<dl>
			<dt><label for="imcger_collapsequote_overwrite_userset">{{ lang('COLLAPSEQUOTE_OVERWRITE_USERSET') ~ lang('COLON') }}</label><br><span>{{ lang('COLLAPSEQUOTE_OVERWRITE_USERSET_DEC') }}</span></dt>
			<dd>
				{{ _self.switch('imcger_collapsequote_overwrite_userset', S_IMCGER_OVERWRITE_USERSET, switch_type) }}
				{{ _self.confirmbox('imcger_collapsequote_overwrite_userset', lang('COLLAPSEQUOTE_USER_SET_CONFIRM')) }}
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('COLLAPSEQUOTE_SETTINGS_STYLE') }}</legend>
		<dl>
			<dt><label for="imcger_collapsequote_button_fg">{{ lang('COLLAPSEQUOTE_BUTTON_FG_COLOR') ~ lang('COLON') }}</label><br ><span>{{ lang('COLLAPSEQUOTE_BUTTON_FG_COLOR_DESC') }}</span></dt>
			<dd>
				<input id="imcger_collapsequote_button_fg" name="imcger_collapsequote_button_fg" type="text" value="{{ IMCGER_COLLAPSEQUOTE_BUTTON_FG }}" size="6" maxlength="6" {% if IMCGER_COLLAPSEQUOTE_BUTTON_FG %}style="border-right:20px solid #{{ IMCGER_COLLAPSEQUOTE_BUTTON_FG }}"{% endif %} >
			</dd>
		</dl>
		<dl>
			<dt><label for="imcger_collapsequote_button_bg">{{ lang('COLLAPSEQUOTE_BUTTON_BG_COLOR') ~ lang('COLON') }}</label><br ><span>{{ lang('COLLAPSEQUOTE_BUTTON_BG_COLOR_DESC') }}</span></dt>
			<dd>
				<input id="imcger_collapsequote_button_bg" name="imcger_collapsequote_button_bg" type="text" value="{{ IMCGER_COLLAPSEQUOTE_BUTTON_BG }}" size="6" maxlength="6" {% if IMCGER_COLLAPSEQUOTE_BUTTON_BG %}style="border-right:20px solid #{{ IMCGER_COLLAPSEQUOTE_BUTTON_BG }}"{% endif %} >
			</dd>
		</dl>
		<hr>
		<dl>
			<dt><label for="imcger_collapsequote_button_fg_hover">{{ lang('COLLAPSEQUOTE_BUTTON_FG_COLOR_HOVER') ~ lang('COLON') }}</label><br ><span>{{ lang('COLLAPSEQUOTE_BUTTON_FG_COLOR_HOVER_DESC') }}</span></dt>
			<dd>
				<input id="imcger_collapsequote_button_fg_hover" name="imcger_collapsequote_button_fg_hover" type="text" value="{{ IMCGER_COLLAPSEQUOTE_BUTTON_FG_HOVER }}" size="6" maxlength="6" {% if IMCGER_COLLAPSEQUOTE_BUTTON_FG_HOVER %}style="border-right:20px solid #{{ IMCGER_COLLAPSEQUOTE_BUTTON_FG_HOVER }}"{% endif %} >
			</dd>
		</dl>
		<dl>
			<dt><label for="imcger_collapsequote_button_bg_hover">{{ lang('COLLAPSEQUOTE_BUTTON_BG_COLOR_HOVER') ~ lang('COLON') }}</label><br ><span>{{ lang('COLLAPSEQUOTE_BUTTON_BG_COLOR_HOVER_DESC') }}</span></dt>
			<dd>
				<input id="imcger_collapsequote_button_bg_hover" name="imcger_collapsequote_button_bg_hover" type="text" value="{{ IMCGER_COLLAPSEQUOTE_BUTTON_BG_HOVER }}" size="6" maxlength="6" {% if IMCGER_COLLAPSEQUOTE_BUTTON_BG_HOVER %}style="border-right:20px solid #{{ IMCGER_COLLAPSEQUOTE_BUTTON_BG_HOVER }}"{% endif %} >
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{{ lang('SUBMIT') }}">
			<input class="button2" type="reset" name="reset" value="{{ lang('RESET') }}">
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

<p class="imcger-copyright">
	{{ IMCGER_COLLAPSEQUOTE_TITLE }} v{{ IMCGER_COLLAPSEQUOTE_EXT_VER }} &copy; IMC-Ger<br>
	{{ lang('ACP_IMCGER_LANG_DESC') }} v{{ lang('ACP_IMCGER_LANG_EXT_VER') }} &bull; {{ lang('ACP_IMCGER_LANG_AUTHOR') }}
</p>

{% include 'overall_footer.html' %}

{% INCLUDECSS '@imcger_collapsequote/acp_toggle.css' %}
{% INCLUDECSS '@imcger_collapsequote/acp_collapsequote.css' %}
{% INCLUDEJS '@imcger_collapsequote/acp_collapsequote.js' %}

{#
	Twig Macros
	@copyright (c) 2023 LukeWCS, https://github.com/LukeWCS
#}

{% macro switch(name, checked = false, type = 'toggle') -%}
	{% if type == 'toggle' || type == 'checkbox' -%}
		<input type="checkbox"{{ type == 'toggle' ? ' class="toggle"' }} name="{{ name }}" value="1"{{ checked ? ' checked' }}>
	{%- elseif type == 'radio' -%}
		<label><input type="radio" class="radio" name="{{ name }}" value="1"{{ checked ? ' checked' }}> {{ lang('YES') }}</label>
		<label><input type="radio" class="radio" name="{{ name }}" value="0"{{ !checked ? ' checked' }}> {{ lang('NO') }}</label>
	{%- endif %}
{%- endmacro %}

{% macro confirmbox(name, message, default = false) -%}
	<div id="{{ name }}_confirmbox" data-default="{{ default ? 1 : 0 }}" style="display: none;">
		<h2>{{ lang('CONFIRM') }}</h2>
		<p>{{ message }}</p>
		<p>
			<input type="button" class="button1" name="{{ name }}_confirm_yes" value="{{ lang('YES') }}">&nbsp;
			<input type="button" class="button2" name="{{ name }}_confirm_no" value="{{ lang('NO') }}">
		</p>
	</div>
{%- endmacro %}
